@import 'reset';

a {
  &, &:link, &:visited {
    color: blue;
  }
  &:hover {
    color: red;
  }
  &:active {
    color: white;
  }
}

header {
  h3 {
    text-transform: capitalize;
  }
  p {
    font-weight: bold;
  }
}
